In [1]:
import pandas as pd

df = pd.read_csv('data/telco_churn.csv')
df.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110.0,45.07,197.4,99.0,16.78,244.7,91.0,11.01,10.0,3,2.70,1.0,False
1,OH,107,415,No,Yes,26,161.6,123.0,27.47,195.5,103.0,16.62,254.4,103.0,11.45,13.7,3,3.70,1.0,False
2,NJ,137,415,No,No,0,243.4,114.0,41.38,121.2,110.0,10.30,162.6,104.0,7.32,12.2,5,3.29,0.0,False
3,OH,84,408,Yes,No,0,299.4,71.0,50.90,61.9,88.0,5.26,196.9,89.0,8.86,6.6,7,1.78,2.0,False
4,OK,75,415,Yes,No,0,166.7,113.0,28.34,148.3,122.0,12.61,186.9,121.0,8.41,10.1,3,2.73,3.0,False

# Multi-indexing

See the following dataframe. It's indexing by 'State' and 'International plan'

In [9]:
group_df = df.groupby(['State', 'International plan'])['Total day minutes'].describe()
group_df

                          count        mean        std    min      25%  \
State International plan
AK    No                   48.0  178.220833  49.723277   58.2  149.600
      Yes                   4.0  180.350000  56.133917  133.0  135.100
AL    No                   72.0  185.448611  51.834672   68.7  154.000
      Yes                   8.0  191.062500  51.075768  127.3  146.325
AR    No                   47.0  176.768085  51.679843   55.3  146.100
...                         ...         ...        ...    ...      ...
WI    Yes                   8.0  197.187500  74.323664   62.3  155.775
WV    No                   99.0  171.612121  54.009686   58.0  131.600
      Yes                   7.0  207.028571  43.211176  146.8  179.500
WY    No                   67.0  176.225373  53.284088   25.9  141.900
      Yes                  10.0  206.600000  53.747496   95.9  182.700

                             50%      75%    max
State International plan
AK    No                  177.25  210.875  278.4
      Yes                 169.85  215.100  248.7
AL    No                  189.80  223.425  308.0
      Yes                 196.25  226.975  265.9
AR    No                  172.70  212.300  273.4
...                          ...      ...    ...
WI    Yes                 216.95  249.750  279.8
WV    No                  175.20  210.750  312.0
      Yes                 198.40  243.200  258.6
WY    No                  174.70  216.950  296.0
      Yes                 217.25  246.175  270.3

[101 rows x 8 columns]

its index is different from the dataframe is

In [12]:
type(group_df.index)

pandas.core.indexes.multi.MultiIndex

In [14]:
# dataframe index
type(df.index)

pandas.core.indexes.range.RangeIndex

It also requires multiple index to access the data:

In [20]:
group_df.loc['WY', 'No']

count     67.000000
mean     176.225373
std       53.284088
min       25.900000
25%      141.900000
50%      174.700000
75%      216.950000
max      296.000000
Name: (WY, No), dtype: float64

## Convert the index back to regular indexing

In [24]:
group_df.reset_index()

,State,International plan,count,mean,std,min,25%,50%,75%,max
0,AK,No,48.0,178.220833,49.723277,58.2,149.600,177.25,210.875,278.4
1,AK,Yes,4.0,180.350000,56.133917,133.0,135.100,169.85,215.100,248.7
2,AL,No,72.0,185.448611,51.834672,68.7,154.000,189.80,223.425,308.0
3,AL,Yes,8.0,191.062500,51.075768,127.3,146.325,196.25,226.975,265.9
4,AR,No,47.0,176.768085,51.679843,55.3,146.100,172.70,212.300,273.4
...,...,...,...,...,...,...,...,...,...,...
96,WI,Yes,8.0,197.187500,74.323664,62.3,155.775,216.95,249.750,279.8
97,WV,No,99.0,171.612121,54.009686,58.0,131.600,175.20,210.750,312.0
98,WV,Yes,7.0,207.028571,43.211176,146.8,179.500,198.40,243.200,258.6
99,WY,No,67.0,176.225373,53.284088,25.9,141.900,174.70,216.950,296.0
100,WY,Yes,10.0,206.600000,53.747496,95.9,182.700,217.25,246.175,270.3