In [1]:
import pandas as pd

df = pd.read_csv('data/telco_churn.csv')

# Grouping

Maps allow us to perform computation one value at a time. However, often we want to group our data and do specific transformation to the group.

A `groupby()` makes the column to be the index of the Series, or dataframe

In [20]:
df.head(1)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110.0,45.07,197.4,99.0,16.78,244.7,91.0,11.01,10.0,3,2.7,1.0,False

In [26]:
df.groupby('State')['International plan'].count().head()

State
AK    52
AL    80
AR    55
AZ    64
CA    34
Name: International plan, dtype: int64

We want to count how often a customer calls. We can do so by `value_counts()` that we learn before.

In [3]:
# Series
df['Customer service calls'].value_counts()

1.0    1179
2.0     758
0.0     696
3.0     428
4.0     166
5.0      66
6.0      22
7.0       9
9.0       2
8.0       2
Name: Customer service calls, dtype: int64

We can reproduce the same output by grouping by

In [4]:
# groupby method will group that into dataframe
# so when we want to access the data we want, we pass the column we want
# hence here: df.groupby('col')['col']
df.groupby('Customer service calls')['Customer service calls'].count()

Customer service calls
0.0     696
1.0    1179
2.0     758
3.0     428
4.0     166
5.0      66
6.0      22
7.0       9
8.0       2
9.0       2
Name: Customer service calls, dtype: int64

Note that these 2 produce same result, even though their labels are in different ordering.

## Groupby and summary function

Since it returns a series, we can use additional summary function to it

In [5]:
df['Customer service calls'].value_counts().max()

1179

## Groupby and apply function

A groupby function can be viewed as that you generate a slice of DataFrame. Hence, we can use `apply()` to get the data we want.

Here we create a animal speed dataframe. We groupby animal, then scale the speed by dividing 100.

In [6]:
df = pd.DataFrame({'Animal': ['Falcon', 'Falcon','Parrot', 'Parrot', 'Cat', 'Bird', 'Parrot'],
                    'Max Speed': [380., 370., 24., 26., 40., 33., 24.]})

df.groupby('Animal').apply(lambda df: df['Max Speed'] / 100)

Animal
Bird    5    0.33
Cat     4    0.40
Falcon  0    3.80
        1    3.70
Parrot  2    0.24
        3    0.26
        6    0.24
Name: Max Speed, dtype: float64

## Groupby multiple columns

In [7]:
df = pd.read_csv('data/telco_churn.csv')
df.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110.0,45.07,197.4,99.0,16.78,244.7,91.0,11.01,10.0,3,2.70,1.0,False
1,OH,107,415,No,Yes,26,161.6,123.0,27.47,195.5,103.0,16.62,254.4,103.0,11.45,13.7,3,3.70,1.0,False
2,NJ,137,415,No,No,0,243.4,114.0,41.38,121.2,110.0,10.30,162.6,104.0,7.32,12.2,5,3.29,0.0,False
3,OH,84,408,Yes,No,0,299.4,71.0,50.90,61.9,88.0,5.26,196.9,89.0,8.86,6.6,7,1.78,2.0,False
4,OK,75,415,Yes,No,0,166.7,113.0,28.34,148.3,122.0,12.61,186.9,121.0,8.41,10.1,3,2.73,3.0,False

In [8]:
df.groupby(['State', 'International plan'])

# Sorting

The dataframe is sorted by index by default. You can sort by columns

In [13]:
df.sort_values(by='Total day charge').head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
1345,SD,98,415,No,No,0,0.0,0.0,0.00,159.6,130.0,13.57,167.1,88.0,7.52,6.8,1,1.84,4.0,True
1397,VT,101,510,No,No,0,0.0,0.0,0.00,192.1,119.0,16.33,168.8,95.0,7.60,7.2,4,1.94,1.0,False
2736,OK,127,510,No,Yes,27,2.6,113.0,0.44,254.0,102.0,21.59,242.7,156.0,10.92,9.2,5,2.48,3.0,False
2753,OH,134,415,No,No,0,7.8,86.0,1.33,171.4,100.0,14.57,186.5,80.0,8.39,12.9,2,3.48,2.0,False
1986,WI,70,415,No,No,0,7.9,100.0,1.34,136.4,83.0,11.59,156.6,89.0,7.05,12.1,1,3.27,0.0,False

In [16]:
# by ascending order
df.sort_values(by='Total day charge', ascending=False).head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
365,CO,154,415,No,No,0,350.8,75.0,59.64,216.5,94.0,18.40,253.9,100.0,11.43,10.1,9,2.73,1.0,True
985,NY,64,415,Yes,No,0,346.8,55.0,58.96,249.5,79.0,21.21,275.4,102.0,12.39,13.3,9,3.59,1.0,True
2594,OH,115,510,Yes,No,0,345.3,81.0,58.70,203.4,106.0,17.29,217.5,107.0,9.79,11.8,8,3.19,1.0,True
156,OH,83,415,No,No,0,337.4,120.0,57.36,227.4,116.0,19.33,153.9,114.0,6.93,15.8,7,4.27,0.0,True
605,MO,112,415,No,No,0,335.5,77.0,57.04,212.5,109.0,18.06,265.0,132.0,11.93,12.7,8,3.43,2.0,True

Multiple values

In [19]:
df.sort_values(by=['Total day charge', 'Total day calls'], ascending=False).head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
365,CO,154,415,No,No,0,350.8,75.0,59.64,216.5,94.0,18.40,253.9,100.0,11.43,10.1,9,2.73,1.0,True
985,NY,64,415,Yes,No,0,346.8,55.0,58.96,249.5,79.0,21.21,275.4,102.0,12.39,13.3,9,3.59,1.0,True
2594,OH,115,510,Yes,No,0,345.3,81.0,58.70,203.4,106.0,17.29,217.5,107.0,9.79,11.8,8,3.19,1.0,True
156,OH,83,415,No,No,0,337.4,120.0,57.36,227.4,116.0,19.33,153.9,114.0,6.93,15.8,7,4.27,0.0,True
605,MO,112,415,No,No,0,335.5,77.0,57.04,212.5,109.0,18.06,265.0,132.0,11.93,12.7,8,3.43,2.0,True

of course, by index

In [18]:
df.sort_index().head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110.0,45.07,197.4,99.0,16.78,244.7,91.0,11.01,10.0,3,2.70,1.0,False
1,OH,107,415,No,Yes,26,161.6,123.0,27.47,195.5,103.0,16.62,254.4,103.0,11.45,13.7,3,3.70,1.0,False
2,NJ,137,415,No,No,0,243.4,114.0,41.38,121.2,110.0,10.30,162.6,104.0,7.32,12.2,5,3.29,0.0,False
3,OH,84,408,Yes,No,0,299.4,71.0,50.90,61.9,88.0,5.26,196.9,89.0,8.86,6.6,7,1.78,2.0,False
4,OK,75,415,Yes,No,0,166.7,113.0,28.34,148.3,122.0,12.61,186.9,121.0,8.41,10.1,3,2.73,3.0,False